// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$color-pink: #D72B83;
$progress-item-size: 1.6rem;
$progress-item-size-md: 2.8rem;